[submodule "chain_end/lib/forge-std"]
	path = chain_end/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chain_end/lib/openzeppelin-contracts"]
	path = chain_end/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
